# Exercise - Use OpenAI embeddings to fit sentiment data

Task1: Use sentiment data to calculate embeddings using openai model.
Task2: Fit the Gaussian model on those embeddings

Install requirements

In [1]:
%pip install openai --quiet

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 220.3/220.3 kB 3.6 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 75.0/75.0 kB 3.7 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 76.9/76.9 kB 6.8 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 58.3/58.3 kB 4.9 MB/s eta 0:00:00
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
llmx 0.0.15a0 requires cohere, which is not installed.
llmx 0.0.15a0 requires tiktoken, which is not installed.

In [2]:
%pip install -U scikit-learn --quiet

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.8/10.8 MB 21.4 MB/s eta 0:00:00

Load sentiment data from `s3://webage-genai-data/sentiment_data_for_exercise/sentiment_data.csv` path

In [ ]:
# Your code goes here
import pandas as pd
#df = pd.read_csv("s3://webage-genai-data/sentiment_data_for_exercise/sentiment_data.csv")
df = pd.read_csv("s3://btcampdata/sentiment_data.csv")
print(df.shape)
df.head()

(100, 2)

                                                text sentiment
0  I need a break... PFFF... Work Sucksss Will be...   neutral
1  happy bank holiday monday twitter! bath time, ...  positive
2   Kayyy XD Yeah, everyone always talks about th...   neutral
3    I don`t think I`ll ever have one of those again   neutral
4  ok... twitter I almost pass out because of you...  negative

Convert 'sentiment' column into numeric values using LabelEncoder

In [ ]:
# Your code goes here

from sklearn.preprocessing import LabelEncoder

# Creating a instance of label Encoder.
label_encoder = LabelEncoder()

# Using .fit_transform function to fit label
# encoder and return encoded label
df['sentiment'] = label_encoder.fit_transform(df['sentiment'])
df.head()

                                                text  sentiment
0  I need a break... PFFF... Work Sucksss Will be...          1
1  happy bank holiday monday twitter! bath time, ...          2
2   Kayyy XD Yeah, everyone always talks about th...          1
3    I don`t think I`ll ever have one of those again          1
4  ok... twitter I almost pass out because of you...          0

Convert 'text' column into embeddings using OpenAI model

In [ ]:
# Your code goes here
import openai
key = "<YOUR_API_KEY>"
openai.api_key = key

input_text = 'Input text'

embedding_response = openai.Embedding.create(
    input=input_text,
    model="text-embedding-ada-002"
)

embedding = embedding_response["data"][0]["embedding"]
len(embedding)

1536

In [ ]:
# helper function
def get_embeddings(input_text,model="text-embedding-ada-002"):
    embedding_response = openai.Embedding.create(
        input=input_text,
        model=model
    )

    return embedding_response["data"][0]["embedding"]

#test out the function
get_embeddings("cats and dogs")[:10]

[-0.009604713879525661,
 0.001167986774817109,
 -0.007270371075719595,
 -0.03137670457363129,
 -0.008880937471985817,
 0.020617859438061714,
 -0.012075988575816154,
 -0.0030548598151654005,
 0.0016064911615103483,
 -0.01860954239964485]

In [ ]:
df['vectors'] = df['text'].apply(lambda x: list(get_embeddings(x)))
df.head()

,text,sentiment,vectors
0,I need a break... PFFF... Work Sucksss Will be...,1,"[-0.015194837935268879, -0.008071846328675747,..."
1,"happy bank holiday monday twitter! bath time, ...",2,"[-0.005067901220172644, -0.0010816864669322968..."
2,"Kayyy XD Yeah, everyone always talks about th...",1,"[-0.013449041172862053, -0.005764342844486237,..."
3,I don`t think I`ll ever have one of those again,1,"[-0.023799024522304535, -0.0029215821996331215..."
4,ok... twitter I almost pass out because of you...,0,"[-0.030994102358818054, -0.013744408264756203,..."

Split dataset into train/test

In [ ]:
# Your code goes here

In [ ]:
X.head()

,0,1,2,3,4,5,6,7,8,9,...,1526,1527,1528,1529,1530,1531,1532,1533,1534,1535
0,-0.015195,-0.008072,0.010187,-0.026621,-0.029362,0.029151,-0.028255,-0.000492,0.004573,-0.013772,...,0.044227,-0.005344,0.021876,-0.029573,-0.018318,0.009574,-0.006135,-0.014773,0.020967,-0.022654
1,-0.005068,-0.001082,-0.004360,-0.016973,-0.022635,-0.002856,-0.004023,-0.011919,-0.019764,-0.018883,...,0.036163,-0.008240,0.005963,-0.011451,-0.021834,0.002060,-0.014182,0.011204,0.000913,-0.041371
2,-0.013449,-0.005764,-0.001955,-0.022926,-0.000585,0.020292,-0.008088,-0.015900,0.003556,-0.007957,...,0.016202,0.001232,0.002823,-0.041579,-0.006784,0.014576,0.014249,-0.006652,0.002423,-0.049077
3,-0.023799,-0.002922,0.018411,-0.010872,-0.009774,0.010181,-0.016977,-0.005556,-0.007061,0.001794,...,0.016241,-0.021538,0.014303,-0.030388,-0.007203,0.038166,-0.015142,-0.017856,0.022985,-0.033179
4,-0.030994,-0.013744,-0.010285,-0.019081,-0.017843,0.009613,-0.001025,-0.016222,0.012631,-0.008493,...,0.020874,0.018488,0.029281,-0.017737,-0.023364,0.030045,-0.007571,0.006671,0.008216,-0.036265

In [ ]:
Y.head()

0    1
1    2
2    1
3    1
4    0
Name: sentiment, dtype: int64

Split in Test and Train

In [ ]:
# Your code goes ehre

Fit 'GaussianNB' model on embeddings from OpenAI model

In [ ]:
# Your code goes here

Evaluate your model

In [ ]:
# Your code goes here

# Use a SKLearn NN classifier

A Naive Bayes is not a great model to use for this task. Try it with a MLPClassifier from sklearn instead.

In [ ]:
#You code goes here

and Evaluate

In [ ]:
#You code goes here